@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
.banner-parent {
    width: 100%;
    display: flex;
    justify-content: center;
}
.banner {
    width: 92%;
    height: 400px;
    margin-top: 30px;
    border-radius: 24px;
    background: linear-gradient(258.04deg,#f1edec 20.63%,#f6d6e1 36.66%,#f4eae9 55.84%,#fdd1d0 73.18%);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.banner > * {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.text-part-banner {
    width: 60%;
}
.text-part-banner > * {
    margin-left: 100px;
}
.text-part-banner > h1 {
    font-size: 2.2vw;
    margin-top: 120px;
}
.text-part-banner > h2 {
    font-size: 1.5vw;
}
.view-collection-button {
    border: none;
    background: #F03827;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 7px;
    margin-top: 10px;
    cursor: pointer;
}
.banner-image-parent {
    width: 40%;
    overflow: hidden;
}
.banner-image {
    margin-top: -40px;
    margin-left: 50px;
}
.category-parent {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.categories {
    width: 80%;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    touch-action: auto;
    align-items: flex-start;
    scrollbar-width: none;
}
.category {
    width: 84px;
    margin-left: 80px;
}
.category:first-child {
    margin-left: 0;
}
.category-name {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.category-image {
    width: 84px;
    height: 84px;
    background: #6FB935;
    color: white;
    position: relative;
    border-radius: 26px;
}
.category-image > img {
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navigator-buttons {
    width: 20px;
}
.scroll {
    height: 40px;
    width: 40px;
    position: relative;
    top: 25px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 9.54px 9.29266px rgba(0,0,0,0.03),0 9px 6.42626px rgba(0,0,0,0.05),0 4px 10px rgba(0,0,0,0.09);
    background: #fff;
    margin-left: 20px;
    cursor: pointer;
}
.scroll:first-child {
    margin-left: 0;
    margin-right: 20px
}
/* collection part */
.collections_section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.collections_div {
    width: 80%;
    background: #2E4965;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
    border-radius: 20px;
}
.title_one {
    margin-top: 3vw;
    font-size: 30px;
}
.grid {
    margin-top: 2vw;
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Always 4 columns */
    gap: 3.5vw;
    /* padding: 10px; */
    padding: 1vw 7vw 1.2vw 7vw;
}

.image-grid img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.discover_all_parent {
    width: 100%;
    display: flex;
    justify-content: center;
}
.discover_all {
    padding-bottom: 2vh;
    display: flex;
    font-size: 19px;
}
.discover_all:hover {
    color: #97A4B2;
}
.products_section {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.products_section:first-child {
    margin-top: 50px;
}
.products_parent {
    width: 80%;
}
.category_title {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
}
.product_flex {
    position: relative;
}
.scroll-products1 {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -100%);
    z-index: 9;
}
.scroll-products1 {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    z-index: 9;
}
.scroll-products2 {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    z-index: 9;
}
.products {
    margin-left: -20px;
    width: calc(4 * (20vw - 10px) + 50px); /* Width for four elements plus margins */
    display: flex;
    overflow-x: auto; /* Allow horizontal overflow */
    scrollbar-width: none;
    margin-top: 40px;
}
.products2 {
    margin-left: -20px;
    width: calc(4 * (20vw - 10px) + 50px); /* Width for four elements plus margins */
    display: flex;
    overflow-x: auto; /* Allow horizontal overflow */
    scrollbar-width: none;
    margin-top: 40px;
}
.product {
    width: calc(20vw - 40px); /* Set width to 20% of viewport width minus the margin */
    margin-left: 50px; /* Adjust margin between elements */
    border-radius: 20px;
    overflow: hidden;
    flex-shrink: 0; /* Prevent shrinking */
    position: relative;
    cursor: pointer;
}
.product:first-child {
    margin-left: 20px; /* Adjust margin for the first element */
}
.product:last-child {
    margin-right: 20px; /* Adjust margin for the last element */
}
.product > img {
    width: 100%;
    z-index: 2;
    color: white;
    border-radius: 20px;
}
.product > p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
}
.aboutUsShortSection {
    width: 100%;
    margin-top: 60px;
    background: linear-gradient(235.63deg, rgb(84, 155, 239) 15.78%, rgb(91, 104, 223) 84.1%);
    display: block;
    padding-top: 48px;
    padding-bottom: 48px;
}
.aboutUsTitleDiv {
    display: flex;
    justify-content: center;
}
.aboutUsTitle {
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}
.aboutUsDetail_parent {
    width: 100%;
    display: flex;
    justify-content: center;
}
.aboutUsDetail {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.aboutUsDivs {
    width: 30%;
}
.aboutUsDivs > *{
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}
/* media */
@media screen and (max-width: 1280px) {
    .collections_div {
        width: 90%;
    }
}
@media screen and (max-width: 1024px) {
    .image-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .image7 {
        display: none;
    }
    .image8 {
        display: none;
    }
    .products_parent {
        width: 90%;
    }
    .product > p {
        font-size: 1.3vw;
    }
    .text-part-banner > h1 {
        font-size: 3vw
    }
    .products {
        width: 100%;
        margin-left: -8px;
    }
    .product {
        width: calc(20vw - 15px); /* Set width to 20% of viewport width minus the margin */
        margin-left: 47px;
    }
}